.wp-block-cheffism-astronomy-picture-of-the-day {

	.cheffism-apod {

		&.aligncenter {
			text-align: center;
		}

		&.alignright {
			text-align: right;
		}

		&.alignfull {

			img {
				width: 100%;
			}
		}
	}
}

.cheffism-apod__video-wrap.manual-embed {
	overflow: hidden;
	position: relative;
	padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */

	iframe {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}
